<!DOCTYPE html>
<html>
<% include ../../partials/header %>

<body>
    <% include ../../partials/navbar %>

    <div class="container">
        
       <h3>Add Medicine</h3>


    </div>

    <% include ../../partials/scripts%>
</body>

</html>