<!DOCTYPE html>
<html>
<% include ../../partials/header %>

<body>
    <% include ../../partials/navbar %>

    <div class="container">
        
        <a href="/settings/medicines/addMedicins" class="btn btn-primary"> Add Medicine</a>
        <a href="/settings/medicines/updateMedicins" class="btn btn-primary"> Update Medicine</a>


    </div>

    <% include ../../partials/scripts%>
</body>

</html>