<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<%- include ../partials/header %>


<body>

    <% include ../partials/navbar %>
    <br>
    <div class="container">
        <h1> Settings</h1>
        <a href="/animals" class="btn btn-primary"> Animals</a>
        <a href="/medicines" class="btn btn-primary"> Medicine</a>
        <a href="/foodType" class="btn btn-primary"> Food Type</a>
        <br>
        <% if (locals.user.role=="admin") { %>
            <h1>Application Settings </h1>
            <a href="/user" class="btn btn-primary"> User</a>
            <%}%>
        

    </div>
    <% include ../partials/scripts%>
</body>

</html>