
        
        <div class= "row">
            
            <div class="col-sm-7">
                <img src="/images/natureReachHeading.PNG" class="img-fluid" width="600"  alt="College logo"> 
            </div>
            
        </div>      


        <nav id="navbar_top" class="navbar navbar-dark bg-dark navbar-expand-lg mb-5">
            <a class="navbar-brand"  href="/feeding"><span>Feeding</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                   <!-- <li class="nav-item">
                        <a class="nav-link" href="/feeding">Feeding </a>
                    </li>-->
                    
                    <% if (locals.user.role=="admin") { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/settings">Settings</a>
                        </li>
                    <%}%>
                    
                    <li>

                    </li>
                    
                </ul>
                <ul class="nav navbar-nav float-md-right">

                    <% if (locals.user) { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" >
                                Welcome <%=locals.user.firstName%>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/changePassword">Change password</a>
                               </div>
                        </li>
                      
                        <li class="nav-item">
                          <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        <%} else { %>
                        <li class="nav-item">
                          <a class="nav-link" href="/">Log in</a>
                        </li>
                        <% } %>
                    </ul>
               

            </div>
        </nav>
