
        
        <div class= "row">
            
            <div class="col-sm-7">
                <img src="/images/natureReachHeading.PNG" class="img-fluid" width="600"  alt="College logo"> 
            </div>
            
        </div>


        <script>
            if ($(window).width() > 992) {
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 40) {
                        $('#navbar_top').addClass("fixed-top");
                        // add padding top to show content behind navbar
                        $('body').css('padding-top', $('.navbar').outerHeight() + 'px');
                    } else {
                        $('#navbar_top').removeClass("fixed-top");
                        // remove padding top from body
                        $('body').css('padding-top', '0');
                    }
                });
            }

        </script>


        <nav id="navbar_top" class="navbar navbar-dark bg-dark navbar-expand-lg mb-5">
            <a class="navbar-brand"  href="#"><span>Home</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/feeding">Feeding </a>
                    </li>
                    <li class="nav-item">
                        
                        <a class="nav-link" href="#">View All Animals</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" >
                            Additional
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">xxxxx</a>
                            <a class="dropdown-item" href="#">xxxxx</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">xxxxx</a>
                        </div>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/settings">Settings</a>
                    </li>
                    <li>

                    </li>
                </ul>
                <form class="form-inline" method="POST">
                    <div class="form-group">
                        <input type="text" id="searchLength" class="form-control" name="searchtext" placeholder="Search">
                    </div>
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>

                </form>  

            </div>
        </nav>
