<!DOCTYPE html>
<html>
<% include ../partials/header %>

<body>
    <% include ../partials/navbar %>

    <div class="container">
        
        <a href="/settings/animals/addAnimal" class="btn btn-primary"> Add Brid</a>
        <a href="/settings/animals/updateAnimal" class="btn btn-primary"> Update Bird</a>


    </div>

    <% include ./partials/scripts%>
</body>

</html>