<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<% include ./partials/header %>
<body>

    <% include ./partials/navbar %>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img src="/images/Pic1.jpg" class="img-fluid" width="300" height="90" alt="College logo">
            </div>
            <div class="col-sm-2">
                <p>sjyfaywgeufawjbd</p>
            </div>
            <div class="col-sm-3">
                <img src="/images/Pic2.jpg" class="img-fluid" width="300" height="90" alt="College logo">
            </div>
            <div class="col-sm-2">
                <p>sjyfaywgeufawjbd</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3">
                <img src="/images/Pic3.jpg" class="img-fluid" width="300" height="90" alt="College logo">
            </div>
            <div class="col-sm-2">
                <p>sjyfaywgeufawjbd</p>
            </div>
            <div class="col-sm-3">
                <img src="/images/Pic4.jpg" class="img-fluid" width="300" height="90" alt="College logo">
            </div>
            <div class="col-sm-2">
                <p>sjyfaywgeufawjbd</p>
            </div>
        </div>
    </div>
    <br>


    </div>
    </div>

    <% include ./partials/scripts%>
</body>

</html>