<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <% include ../partials/header %>

  <body>
    <% include ../partials/navbar %>
        <div class="container">
            <div class="row">
                <div class= "col-sm-4">

                
        <h1>Change Password</h1>

        <form method="POST" action="/manageAccount/changePassword">
            
  
            <div class="form-group">
              
              <label for="oldPassword">Old Password</label>
              <input type="password" class="form-control" id="oldPassword" placeholder="Old password" name="oldPassword">
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" placeholder="New password" name="newPassword">
              </div>
  
  
            <br>
            <button type="submit" class="btn btn-primary" >Submit</button>
          </form>
        </div>
    </div>
        </div>
    <% include ../partials/scripts%>
    </body>

</html>