<!DOCTYPE html>
<html>
<% include ../partials/header %>

<body>
    <% include ../partials/navbar %>

    <div class="container">
        
               
        <a href="/foodType/addFoodType" class="btn btn-primary"> Add Food</a>
        <table id="foodType" class="table table-bordered table-striped">
    
            <thead>
              <tr>
                <td>Name</td>
                
              </tr>
            </thead>
        
             <!-- You can't render data here until you actually pass it from the back-end -->
             </table>
       


    </div>

    <% include ../partials/scripts%>
    <script type="text/javascript">
        $(document).ready( function () {
          $('#foodType').DataTable({
            responsive: true
          });
        });
      </script>

    
</body>

</html>